/* styles.css */

.image-container {
    position: relative; /* Create a positioning context for the text */
    display: inline-block; /* Keeps the container's size as per the image's size */
}

.image-text {
    position: absolute; /*Position the text absolutely within the container*/
    bottom: 120px; /* Adjust this value to move the text vertically */
    left: 100px; /* Adjust this value to move the text horizontally */
    /* background-color: rgba(255, 255, 255, 0.7); Background color for better readability */
    padding: 20px; /*Add padding for some space around the text */
    font-size: 18px; /* Set the font size */
    color: red; /* Text color */
    
}
